body {
  background: url("../images/clone-bg.jpeg");
}

.node-item {
  cursor: grab;
}
.node-item:active {
  cursor: grabbing;
}
#drawflow {
  position: relative;
  overflow: hidden;
}
.text-label {
  z-index: 10;
  cursor: move;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.text-label:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.drawflow-node .delete-node {
  display: none;
}
.drawflow-node:hover .delete-node {
  display: flex;
}
#sidebar {
  z-index: 40;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}
.select-none {
  user-select: none;
}
